* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
} 

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #799eba;
    margin-bottom: 15px;
}

.section {
    background: #fff;
    margin: 20px 0;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px #cccccc;
    transition: 0.3s;
}
.section:hover {
    transform: scale(1.02);
}

.interpreter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.interpreter h3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.interpreter p {
    margin: 10px 0;
    line-height: 1.5;
}

.youth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.youth h3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.youth p {
    margin: 10px 0;
    line-height: 1.5;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

progress {
    width: 70%;
    height: 10px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #e6e6e6;
}

progress::-webkit-progress-value {
    background: #4caf50;
}

a {
    color: #333;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #007BFF;
    text-decoration: underline;
}

.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}

.footer a {
    color: #4caf50;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #007BFF;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header, .footer {
        padding: 20px;
    }
    .profile-pic {
        width: 120px;
        height: 120px;
    }
}